:host {
  background: linear-gradient(353.41deg, rgba(165, 102, 255, 0) -21.96%, rgba(161, 170, 251, 0.151667) 23.98%, rgba(160, 204, 249, 0.226331) 43.57%, rgba(158, 246, 246, 0.32) 107.75%);
  border-radius: 144px;
  width: 100%;
}

.snapshot-title {
  color: #4B25C7;
  font-family: Rajdhani, sans-serif;
  font-size: 72px;
  font-weight: bold;
}
