:host {
  &.staking-widget {
    position: relative;
    border-radius: 144px;
    background: linear-gradient(
      349.41deg,
      rgba(220, 255, 255, 0.22) -17.31%,
      rgba(220, 255, 255, 0.26) 4.93%,
      rgba(255, 255, 255, 0.28) 129.23%
    );
    padding: 100px;

    @media screen and (max-width: 800px) {
      padding: 20px;
    }
  }
}
