:host ::ng-deep {
  .staking-textfield {
    &.mat-form-field-appearance-outline .mat-form-field-outline {
      background: #231F32 !important;
      color: transparent;
      border-radius: 16px;
    }
  }

  .staking-textfield .mat-form-field-label-wrapper {
    left: -5px;
  }

  .staking-textfield .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.9em 0.3em !important;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-0.65em) scale(0.75) !important;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: initial;
  }

  .staking-textfield .mat-input-element {
    top: 1.3px !important;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
    right: .35em;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #33CBCB;
  }

  .staking-textfield .mat-form-field-subscript-wrapper {
    top: calc(100% - 2.1em) !important;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.59em;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 16px 0 0 16px;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 16px 16px 0;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0.1em 0.6em !important;

    @media screen and (max-width: 800px) {
      padding: 0.35em 0.6em !important;
    }
  }
}

.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  border-radius: 16px;
  letter-spacing: 1.25px;
  background-color: #A566FF;
  padding: 0 0 !important;
  height: 44px;
  width: 124px;

  &.mat-raised-button[disabled] {
    color: #AF76FF !important;
    background-color: rgb(165 102 255 / 20%) !important;
  }

  &:hover {
    background-color: #ad74ff;
  }
}
