:host {
  display: block;
}

ul li {
  position: relative;
  padding-bottom: 30px;
}

ul {
  list-style: none;
}

ul li:before {
  content: '';
  position: absolute;
  border-radius: 50px;
  background-color: var(--li-dot-color);
  width: 12px;
  height: 12px;
  top: calc(5% - -10px);
  left: -23px;
  transform: translateY(-50%) rotate(-45deg);
}

li {
  font-family: 'BW-Gradual-Regular';
  color: var(--li-color);
  font-size: 16px;
  letter-spacing: 0.3px;
  left: 17px;
  padding-left: 3px;
  font-weight: 400;
}
