<app-section>
  <div class="d-flex flex-row align-items-center mx-2 mx-md-4 mt-2 mb-5">
    <img src="../../../../assets/img/staking/terms-condition-image.png" width="55" height="auto" />
    <app-label size="xl" class="text-color ml-3 ml-md-3"> Terms of participation </app-label>
  </div>
  <div>
    <ul class="staking-list d-flex flex-column mt-4 mr-3 mx-2 pl-4 pr-3">
      <li>Staked EWT can be withdrawn at any time</li>
      <li>Hourly rewards will be compounded (added to the total stake and earn interest)</li>
      <li>A small gas fee will be charged for Stake and Unstake operations</li>
    </ul>
  </div>
</app-section>
