:host {
  margin-left: 10px;
  margin-right: 10px;
}

h5 {
  color: #4b25c7;
  font-family: Rajdhani, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 40px;
}
.item-pointer {
  display: inline-block;
  font-weight: bold;
  min-width: 30px;
}

.process-item {
  font-family: 'BW-Gradual-Regular';
  font-size: 14px;
  line-height: 28px;
  display: flex;
}

a {
  color: #4b25c7;
}
