.staking-widget-sm-label {
  color: #000000;
  font-weight: 400;
  font-family: 'BW-Gradual-Regular';
  font-size: 18px;
}

h4 {
  color: #492cc7;
  font-family: 'BW-Gradual-Medium';
  font-weight: 700 !important;
  font-size: 36px !important;
}

.success-icon {
  position: relative;
  width: 155px;
  height: auto;
}
