.staking-widget-sm-label {
  color: var(--li-color);
  font-weight: 400;
  font-family: 'BW-Gradual-Regular';
  font-size: 18px;
}

h4 {
  color: var(--h4-color);
  font-family: 'BW-Gradual-Medium';
  font-weight: 700 !important;
  font-size: 36px !important;
}

.success-icon {
  position: relative;
  width: 255px;
  margin-bottom: -55px;
  height: auto;
}
