.stake-btn-secondary {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: linear-gradient(82.68deg, #4C26C7 -5.81%, #6DE9E9 98.14%, #BFFFFF 121.71%);
  color: #FFFFFF !important;
  box-shadow: 0px 5px 6px rgb(0 0 0 / 16%);
  border-radius: 34px;
  padding: 0 0 !important;
  height: 48px;
  width: 180px;
  opacity: 1;
}
