
.dot-filled-wrapper {
  margin-top: -21px;
}

:host {
  height: 9px;
  width: 9px;
  background-color: #E2EBFF;
  box-shadow: inset 0px 1.97286px 1.97286px #B5BECE;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;

  &.filled {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
  }

  .filled .filled-1 {
    background: #5E44D4;
  }
  .filled .filled-2 {
    background: #8D98FA;
  }
  .filled .filled-3 {
    background: #6BC4F5;
  }
  .filled .filled-4 {
    background: #8D98FA;
  }
  .filled .filled-5 {
    background: #59F1F1;
  }
  .filled .filled-6 {
    background: #ACFBFB;
  }
}
