:host {
  height: 20px;
  width: 20px;
  background-color: #5e44d4;
  box-shadow: inset 0px 1.97286px 1.97286px #b5bece;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;

  &.small {
    width: 9px;
    height: 9px;
  }

  &.default-grey {
    background: #e2ebff;
  }

  &.filled-1 {
    background: #5e44d4;
    box-shadow: none;
  }

  &.filled-2 {
    background: #8d98fa;
    box-shadow: none;
  }

  &.filled-3 {
    background: #6bc4f5;
    box-shadow: none;
  }

  &.filled-4 {
    background: #8d98fa;
    box-shadow: none;
  }

  &.filled-5 {
    background: #59f1f1;
    box-shadow: none;
  }

  &.filled-6 {
    background: #acfbfb;
    box-shadow: none;
  }

  &.approved {
    background: #e4d654;
  }
  &.rejected {
    background: #f05555;
  }
  &.synced {
    background: #58d38a;
  }
  &.not-taken {
    background: #5e44d4;
  }

  &.not-enrolled {
    background: #bfbfbf;
  }
}
