:host {
  display: flex;
  flex-direction: column;
  text-align: right;

  ::ng-deep .mat-progress-bar-fill::after {
    border-radius: 1em;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background: #181522;
  }

  ::ng-deep .mat-progress-bar {
    border-radius: 1em;
  }
}

:host(.short) {
  display: flex;
  flex-direction: row;
  text-align: left;
  max-width: 300px;
  align-items: center;

  .text {
    max-width: 100px;
  }
}

:host {
  &.card-progress-bad {
    color: #ff0000;

    ::ng-deep .mat-progress-bar-fill::after {
      background-color: #ff0000;
    }
  }

  &.card-progress-fair {
    color: #ffa500;

    ::ng-deep .mat-progress-bar-fill::after {
      background-color: #ffa500;
    }
  }

  &.card-progress-good {
    color: #40ad87;

    ::ng-deep .mat-progress-bar-fill::after {
      background-color: #40ad87;
    }
  }

  &.card-progress-excellent {
    color: #0fb544;

    ::ng-deep .mat-progress-bar-fill::after {
      background-color: #0fb544;
    }
  }
}

:host ::ng-deep mat-progress-spinner {
  background: conic-gradient(
    from 158.26deg at 50.11% 49.89%,
    #a566ff 0deg,
    #8991f5 91.88deg,
    #71b5ed 144.37deg,
    #52e3e3 215.62deg,
    #9ef6f6 286.87deg,
    #bfffff 360deg
  );
}
