app-snapshot-box {
  display: block;
}

:host {
  display: block;
  border-radius: 144px;
}

::ng-deep {
  .mat-dialog-container {
    height: auto !important;
    box-shadow: 0px 16px 40px rgba(32, 71, 169, 0.32);
    border-radius: 144px;
  }
}

.success-icon {
  position: relative;
  width: 165px;
  height: auto;
}

.rewards-term {
  font-family: 'Bw Gradual';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}

.dots-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
}
