<div class="d-flex justify-content-center align-items-center flex-column stake-success-container">
  <img src="../../../../assets/img/staking/staking-success-image.png" width="168px" height="auto">
  <h3 class="mt-4 mb-3">Congratulations!</h3>
  <p class="text-center message">Your EWT is now staked successfully and added to the staking pool!</p>
  <app-divider></app-divider>
  <div class="d-flex flex-wrap justify-content-center mt-3">
    <button mat-raised-button mat-dialog-close class="stake-btn text-color text-uppercase">Close</button>
  </div>
</div>
