.stake-success-container {
  background: linear-gradient(
      349.41deg,
      rgba(220, 255, 255, 0.22) -17.31%,
      rgba(220, 255, 255, 0.26) 4.93%,
      rgba(255, 255, 255, 0.28) 129.23%
    ),
    #ecf0f3;
  padding: 32px;
}

h3 {
  font-family: 'BW-Gradual-Medium';
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #000;
}

.text-color {
  color: #ffffff;
}

p {
  font-family: 'BW-Gradual-Regular';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #000000;
  font-weight: 400;
}

.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: linear-gradient(
    82.68deg,
    #4c26c7 -5.81%,
    #6de9e9 98.14%,
    #bfffff 121.71%
  );
  color: #ffffff !important;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
  border-radius: 34px;
  padding: 0 0 !important;
  height: 48px;
  width: 100%;
  opacity: 1;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background-color: #4c2cdf;
  }
}

.stake-secondary-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px !important;
  border-radius: 16px;
  letter-spacing: 1.25px;
  color: #a566ff;
  border: 1px solid #a566ff;
  background-color: transparent;
  padding: 0 0 !important;
  height: 44px;
  width: 124px;

  &:hover {
    color: #ad74ff;
    border: 1px solid #ad74ff;
  }
}

::ng-deep {
  .mat-dialog-container {
    height: auto !important;
    box-shadow: 0px 16px 40px rgba(32, 71, 169, 0.32);
    border-radius: 48px;
  }
}

.message {
  max-width: 400px;
  white-space: normal !important;
}
