.text-color {
  color: #FFFFFF;
}

.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: linear-gradient(82.68deg, #4C26C7 -5.81%, #6DE9E9 98.14%, #BFFFFF 121.71%);
  color: #FFFFFF !important;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
  border-radius: 34px;
  padding: 0 0 !important;
  height: 48px;
  width: 100%;
  opacity: 1;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background-color: #4C2CDF;
  }
}

.stake-secondary-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  border-radius: 16px;
  letter-spacing: 2px;
  background: linear-gradient(180deg, #C7F5FD 0%, #E6FDFF 32.23%, #C1D7FB 100%), radial-gradient(184.5% 68.24% at 169.12% 8.09%, #EDFFFF 32.52%, #DBEDFF 71.15%, #CBDFF4 91.96%);
  box-shadow: 0px 9px 6px rgba(32, 71, 169, 0.3);
  border-radius: 50px;
  color: #4B25C7 !important;
  padding: 0 0 !important;
  margin-top: 38px;
  height: 48px;
  width: 100%;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background-color: #AFF6FC;
  }
}

h3 {
  font-family: 'BW-Gradual-Medium';
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #000;
}
