.container {
  background: var(--dialog-bg);
  box-shadow: var(--dialog-shadow);
  padding: 32px;
}

.text-color {
  color: #ffffff;
}

.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: var(--stake-btn-bg) !important;

  color: var(--stake-btn-color) !important;
  box-shadow: 0px 4px 8px var(--stake-btn-shadow-color);
  text-shadow: 0px 1px 1px var(--stake-text-shadow-color);

  border-radius: 34px;
  padding: 0 0 !important;
  height: 48px;
  width: 100%;
  opacity: 1;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background-color: #4c2cdf;
  }
}

.stake-secondary-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;

  background: var(--secondary-btn-bg);
  box-shadow: 0px 5px 6px var(--secondary-btn-shadow);
  border-radius: 50px;
  color: var(--secondary-btn-color) !important;
  padding: 0 0 !important;
  margin-top: 38px;
  height: 48px;
  width: 100%;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background: var(--secondary-btn-bg-hover);
  }
}

h3 {
  font-family: 'BW-Gradual-Medium';
  font-size: 24px !important;
  font-weight: 600 !important;
  color: var(--dialog-title);
}

::ng-deep {
  .mat-dialog-container {
    height: auto !important;
    box-shadow: 0px 16px 40px rgba(32, 71, 169, 0.32);
    border-radius: 48px;
  }
}
