
.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: "";
  width: 10px;
}

.display-grid {
  display: grid;
  place-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.app {
  overflow-y: auto;
}

.min-300 {
  min-width: 308px;
}

.shadow-none {
  box-shadow: none !important;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

// Registration

.mat-card {
  border-radius: 5px !important;
}

.img-container {
  background-color: #201f28 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.img-wrapper {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center center !important;
  width: 100%;
  height: 150px;
}

.mat-expansion-indicator::after {
  position: relative;
  top: -3px;
}

.card-default {
  background-color: #242230 !important;
  border-top-width: 0 !important;
  border-color: transparent !important;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.28);
  border-radius: 3px;
  padding: 6px 20px 15px 20px;

  .card-header {
    background-color: #242230 !important;
    padding: 0.1rem 0.1rem 0.1rem 0 !important;
    h4 {
      font-weight: 600 !important;
      color: #b6b9c7;
    }
  }
  .graph-label {
    color: #9080ba;
  }
}

.label {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}

.color-white {
  font-weight: 500;
}

.color-white-flat {
  color: #fff;
}

.color-link {
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
}

@media (max-width: 700px) {
  .activation-label {
    display: none !important;
  }
}
