:host {
  padding: 32px;
  display: block;
}

h3 {
  font-family: 'BW-Gradual-Medium';
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #000;
}

p {
  font-family: 'BW-Gradual-Regular';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #000000;
  font-weight: 400;
}

.text-color {
  color: #ffffff;
}

.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: linear-gradient(
    82.68deg,
    #4c26c7 -5.81%,
    #6de9e9 98.14%,
    #bfffff 121.71%
  );
  color: #ffffff !important;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
  border-radius: 34px;
  padding: 0 0 !important;
  height: 48px;
  width: 100%;
  opacity: 1;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background-color: #4c2cdf;
  }
}

.stake-secondary-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  border-radius: 16px;
  letter-spacing: 2px;
  background: linear-gradient(180deg, #c7f5fd 0%, #e6fdff 32.23%, #c1d7fb 100%),
    radial-gradient(
      184.5% 68.24% at 169.12% 8.09%,
      #edffff 32.52%,
      #dbedff 71.15%,
      #cbdff4 91.96%
    );
  box-shadow: 0px 9px 6px rgba(32, 71, 169, 0.3);
  border-radius: 50px;
  color: #4b25c7 !important;
  padding: 0 0 !important;
  margin-top: 38px;
  height: 48px;
  width: 100%;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background-color: #aff6fc;
  }
}

::ng-deep {
  .mat-dialog-container {
    height: auto !important;
    box-shadow: 0px 16px 40px rgba(32, 71, 169, 0.32);
    border-radius: 48px;
  }

  .mat-progress-bar-background {
    fill: transparent;
  }
}

.amount-input {
  color: #1a1a1a;
  font-family: 'Sequel Sans', sans-serif;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }
}
