.switch-network {
  cursor: pointer;
  color: #33CBCB !important;
  &:hover {
    opacity: 0.7;
  }
}

.info {
  font-family: 'BW-Gradual-Regular';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #000000;
  font-weight: 400;
  opacity: 0.8;
}
