<div class="mt-3 mb-3" *ngIf="metamaskPresent; else noMetamask">
  <button
    mat-raised-button
    (click)="connectToMetamask()"
    data-qa-id="metamask"
    [disabled]="metamaskDisabled"
    class="btn btn-connect btn-connect-metamask w-100"
    type="submit">
    <img width="48px" height="40px" class="float-left pt-1 pl-3 ml-1" src="assets/img/icons/metamask-logo.svg" />
    <span class="pr-4">USE METAMASK</span>
  </button>
  <div
    class="d-flex flex-column justify-content-center mt-3 text-center"
    *ngIf="metamaskDisabled; else cacheServerInfo"
    data-qa-id="no-volta">
    <div class="info pr-1">You are not connected to Energy Web Chain.</div>
    <a class="switch-network" (click)="importMetamaskConf()" target="_blank">Import configurations</a>
  </div>
  <ng-template #cacheServerInfo>
    <div class="mt-3 text-center info">
      You will be asked to sign a message to authenticate your wallet with the Identity and Access Management Cache
      Server. This allows the Cache Server to check if your wallet is authorized to stake.
    </div>
  </ng-template>
</div>

<ng-template #noMetamask>
  <div class="mt-3 mb-3">
    <div class="mt-1 info">
      MetaMask isn’t detected. Follow the
      <a href="https://energy-web-foundation.gitbook.io/energy-web/token/staking" target="_blank">Staking Guide</a> to
      install and configure MetaMask to work with Energy Web Chain.
    </div>
  </div>
</ng-template>
