@font-face {
    font-family: 'Bw-Gradual-Thin';
    src: local('BwGradual-Thin'), url('/assets/fonts/bw-gradual-font/BwGradual-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Bw-Gradual-Light';
    src: local('BwGradual-Light'), url('/assets/fonts/bw-gradual-font/BwGradual-Light.woff') format('woff');
}
@font-face {
    font-family: 'Bw-Gradual-Regular';
    src: local('BwGradual-Regular'), url('/assets/fonts/bw-gradual-font/BwGradual-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Bw-Gradual-Medium';
    src: local('BwGradual-Medium'), url('/assets/fonts/bw-gradual-font/BwGradual-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Bw-Gradual-Bold';
    src: local('BwGradual-Bold'), url('/assets/fonts/bw-gradual-font/BwGradual-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Sequel-Sans';
	src: local('Sequel-Sans'), url('/assets/fonts/sequel-sans-font/Sequel-Sans-Book-Disp.woff2') format('woff2');
}