h1 {
  color: #492cc7;
  font-family: 'BW-Gradual-Medium';
  font-weight: 700 !important;
  font-size: 36px !important;
}

.terms-date {
  font-size: 14px;
}

.terms-container {
  color: #474747;
  margin: 10px;
  font-size: 16px;
  font-family: 'Bw-Gradual-Regular';
}
