<div class="terms-container p-3">
    <h1 class="mb-2"><b>Energy Web Token Staking Disclaimer</b></h1>
    <p class="terms-date"><strong>Last updated March 18, 2022</strong></p>
    <div class="mt-4">
    <p><span>On behalf of the Energy Web Chain Community Fund, thank you for choosing to be part of testing the EWT Community Fund Staking initiative. We&rsquo;ve taken the utmost measures to ensure that this pilot is safe, secure and in compliance with all applicable laws and regulations.&nbsp;</span></p>
    <p><span>EWT Staking on consortia-stake-ewt.io is provided on an &ldquo;as is&rdquo; and &ldquo;as available&rdquo; basis without any representation or warranty. Any data shared with consortia-stake-ewt.io is kept safe with appropriate technical and organizational security measures, and adherence to privacy regulations.&nbsp;</span></p>
    <p><span>By participating in this pilot you accept all the involved risks and understand that you cannot hold Energy Web Foundation, its subsidiaries and any of Energy Web Community members and Validators liable.</span></p>
    </div>
</div>
