<app-section-container>
  <app-section-header title="Claim an NFT"></app-section-header>
  <p class="description px-3 px-lg-4 mb-5 pt-1">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed
    dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.
  </p>
  <div class="d-flex flex-column flex-lg-row px-2">
    <app-claim-nft imageUrl="../assets/img/staking/nft-placeholder.png"></app-claim-nft>
    <app-claim-nft imageUrl="../assets/img/staking/nft-placeholder.png"></app-claim-nft>
    <app-claim-nft imageUrl="../assets/img/staking/nft-placeholder.png"></app-claim-nft>
    <app-claim-nft imageUrl="../assets/img/staking/nft-placeholder.png"></app-claim-nft>
  </div>
</app-section-container> 
