<app-section-container>
  <app-section-header title="Claim an NFT"></app-section-header>
  <ng-container *ngIf="isEligibleToClaimNFT$ | async; else notEligible">
    <p class="description px-3 px-lg-4 mb-5 pt-1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus.
      Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus.
    </p>
    <ng-container *ngIf="isNFTClaimed$ | async; else noNFT">
      <div class="d-flex">
        <app-claim-nft [imageUrl]="getNFTUrl$ | async" [hideClaimButton]="true"></app-claim-nft>
      </div>
    </ng-container>
    <ng-template #noNFT>
      <div class="d-flex">
        <app-claim-nft [imageUrl]="'../assets/img/staking/nft-placeholder.png'"></app-claim-nft>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #notEligible>
    <p class="description px-3 px-lg-4 mb-5 pt-1">
      You're not eligible to claim NFT. You need to have first 5 snapshots.
    </p>
  </ng-template>
</app-section-container>
