.staking-container {
  background-color: #ecf0f3;
  background-image: url('../../../../assets/img/staking/staking-gradient-background.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-wrapper {
  margin-bottom: 0 !important;
}

h2 {
  font-family: 'Bw-Gradual-Medium';
  color: #492cc7;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 84px;

  span {
    background: #492cc7;
    background: linear-gradient(
      90deg,
      rgba(73, 44, 199, 1) 0%,
      rgba(82, 227, 227, 1) 48%,
      rgba(73, 44, 199, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  @media screen and (max-width: 800px) {
    font-size: 38px !important;
    margin-top: 8px;
    line-height: inherit;
  }
}

h3 {
  font-family: Rajdhani, sans-serif;
  font-weight: 600 !important;
  letter-spacing: 0.25px !important;
  font-size: 34px !important;

  .staking-currency {
    font-size: 16px !important;
    color: #a6a5ac;
  }
}

h4 {
  color: #492cc7;
  font-family: 'BW-Gradual-Medium';
  font-weight: 700 !important;
  font-size: 36px !important;
}

.text-color {
  color: #ffffff;
}

h5 {
  font-family: Rajdhani, sans-serif;
  letter-spacing: 1.25px !important;
  font-weight: 700 !important;
}

.small {
  color: #33cbcb !important;
}

p {
  color: #1a1a1a;
  font-family: 'BW-Gradual-Light';
  font-weight: 200;
  font-size: 18px;
  line-height: 30px;

  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
}

a {
  color: #106cc8;
  letter-spacing: 1.25px;

  &:hover {
    opacity: 0.7;
  }
}

::ng-deep {
  .mat-progress-bar {
    height: 8px !important;
  }

  .mat-progress-bar-fill::after {
    background: linear-gradient(
      272.06deg,
      #25e8e8 0.21%,
      #6268f9 49.1%,
      #9b54ff 98.25%
    );
  }

  .mat-progress-bar .mat-progress-bar-element,
  .mat-progress-bar .mat-progress-bar-fill::after {
    border-radius: 100px;
  }

  .mat-progress-bar-buffer {
    background-color: #000000;
    border-radius: 100px;
  }
}

.atoms-wrapper {
  bottom: -37px;
  width: 760px;
  height: auto;

  @media screen and (max-width: 1440px) {
    width: 100%;
  }

  @media screen and (max-width: 800px) {
    visibility: hidden;
  }
}

.snapshots-atoms-wrapper {
  bottom: -37px;
  width: 760px;
  height: auto;

  @media screen and (max-width: 1440px) {
    width: 100%;
  }
  @media screen and (max-width: 800px) {
    width: 75%;
  }
}

.rewards-term {
  font-family: 'Bw Gradual';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}

.description {
  position: relative;
}

.staking-widget-xs-label {
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #2e2e2e;
}

.staking-widget-sm-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.staking-card {
  background: transparent;
  height: auto;

  @media screen and (max-width: 1200px) {
    &::before {
      width: 700px;
    }
  }

  @media screen and (max-width: 800px) {
    &::before {
      width: 100%;
      max-width: 380px;
    }
  }
}

.stats-icon {
  position: relative;
  width: 91px;
  height: auto;
}

.stats-numbers {
  font-family: Rajdhani, sans-serif;
  font-size: 42px !important;
  color: #4b25c7;
  font-weight: 700;

  span {
    font-size: 18px;
    font-weight: 500;
  }
}

.staking-terms {
  background: linear-gradient(
    353.04deg,
    #fefefe -176.13%,
    rgba(152, 195, 205, 0.744792) -176.09%,
    rgba(255, 255, 255, 0) 174.24%
  );
  backdrop-filter: blur(200px);
  border-radius: 144px;
  padding: 70px 24px 40px 24px;
}

.staking-widget {
  position: relative;
  border: 1px solid transparent;
  border-radius: 32px;
  background: linear-gradient(
    320.92deg,
    rgba(37, 232, 232, 0.1) -1.22%,
    rgba(98, 104, 249, 0.1) 47.93%,
    rgba(155, 84, 255, 0.1) 95.01%
  );
  background-clip: padding-box;
  padding: 10px;
  backdrop-filter: blur(4px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 32px;
    padding: 1px;
    background: linear-gradient(
      314.24deg,
      #25e8e8 1.72%,
      rgba(83, 134, 245, 0.16) 33.86%,
      rgba(98, 104, 249, 0.16) 62.17%,
      #9b54ff 97.07%
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    z-index: -1;
  }
}

.role-req {
  position: relative;
  background: linear-gradient(
    353.64deg,
    rgba(65, 15, 227, 0) -63.58%,
    rgba(114, 108, 238, 0.08) 3.96%,
    rgba(165, 206, 249, 0.34001) 39.82%,
    rgba(191, 255, 255, 0.47) 96.52%
  );
  backdrop-filter: blur(200px);
  border-radius: 144px;
  padding: 10px;
}

.widget-main {
  min-height: 502px !important;

  @media screen and (max-width: 800px) {
    min-height: 500px !important;
  }
}

.widget-inner {
  max-width: 100%;

  @media screen and (max-width: 1024px) {
    min-height: 132px;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

#arrow {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  margin-top: 40px;
}

::ng-deep {
  .swal-text {
    text-align: center;
  }

  .mat-tooltip {
    font-size: 12px;
    padding: 16px 24px !important;
    line-height: 16px !important;
    color: #a6a5ac !important;
    background: #13111b;
    border-radius: 26px !important;
    box-shadow: 0px 0px 4px #a2a1ff, 0px 4px 20px rgba(193, 192, 255, 0.25);
    width: 100%;
  }
}

.limit-text {
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #a6a5ac;
}

.highlight {
  color: #63bdfe;
}

.link-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  border-radius: 16px;
  letter-spacing: 1.25px;
  background-color: #a566ff;
  color: #ffffff;

  &:hover {
    background-color: #ad74ff !important;
    opacity: 1 !important;
  }
}

.circle-progress-circle {
  width: 278px;
  height: 278px;
  padding: 25px;
  background-image: url(../../../../assets/img/preloader/circle-center.png);
  background-size: 278px 278px;
  backdrop-filter: blur(27.8158px);
  border-radius: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.circular-inner {
  position: absolute;
  width: 325px;
  height: 325px;
  padding: 25px;
  background-image: url(../../../../assets/img/preloader/circle-inner.png);
  background-size: 325px 325px;
  border-radius: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.circular-title {
  margin-top: 60px;
  position: relative;
  font-family: Rajdhani;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #4b25c7;
  z-index: 12;
}

.circular-percentage {
  position: relative;
  top: -7px;
  font-family: Rajdhani;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #492cc7 40%, #52e3e3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  z-index: 12;
}

.circular-desc {
  margin-top: -17px;
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.8px;
  color: #4c83d1;
  z-index: 12;
}

.dot {
  height: 9px;
  width: 9px;
  background-color: #e2ebff;
  box-shadow: inset 0px 1.97286px 1.97286px #b5bece;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.dot-filled-wrapper {
  margin-top: -21px;
}

.dot-filled {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.dot-filled.dot-filled-1 {
  background: #5e44d4;
}

.dot-filled.dot-filled-2 {
  background: #8d98fa;
}

.dot-filled.dot-filled-3 {
  background: #6bc4f5;
}

.dot-filled.dot-filled-4 {
  background: #8d98fa;
}

.dot-filled.dot-filled-5 {
  background: #59f1f1;
}

.dot-filled.dot-filled-6 {
  background: #acfbfb;
}

.snapshots-notify {
  position: relative;
  background: linear-gradient(
    353.64deg,
    rgba(65, 15, 227, 0) -63.58%,
    rgba(114, 108, 238, 0.08) 3.96%,
    rgba(165, 206, 249, 0.34001) 39.82%,
    rgba(191, 255, 255, 0.47) 96.52%
  );
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px);
  border-radius: 144px;
  padding: 10px;
}
