// Bootstrap
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
// Variables
@import 'app/variables';
// Globals
@import 'app/utils-mixins';
// Layout
@import 'app/layout';
@import 'app/layout-extra';
@import 'app/layout-animation';
@import 'app/top-navbar';
@import 'app/sidebar';
@import 'app/offsidebar';
@import 'app/user-block';
@import 'app/settings';
// Common
@import 'app/typo';
@import 'app/bootstrap-reset';
@import 'app/bootstrap-custom';
@import 'app/button-extra';
@import 'app/dropdown-extra';
@import 'app/slim-scroll';
@import 'app/utils';
@import 'app/popup';

// Elements
@import 'app/spinner';
// Charts
@import 'app/radial-bar';
// Form elements
@import 'app/form-tags-input';
@import 'app/file-upload';
// Tables
@import 'app/table-extras';
// Material
@import 'app/material/welcome';
@import 'app/material/cards';
@import 'app/material/table';
@import 'app/material/tab';
@import 'app/material/button';
@import 'app/material/dialog';
@import 'app/material/md-forms';
@import 'app/material/md-list';
@import 'app/material/md-inputs';
@import 'app/material/ngmaterial';


.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  border-radius: 50px;
  color: var(--learn-more-color) !important;
  padding: 0 0 !important;
  margin-top: 38px;
  height: 48px;
  width: 172px;
}
