<div class="staking-widget-sm-label mb-3">
  <div class="d-flex flex-column align-items-center mt-2">
    <img src="../../../../assets/img/warning-icon2.png" class="warning-icon2" />
    <h4 class="mb-4">Verify your email</h4>
    <div class="staking-widget-sm-label text-center">You must verify your email to stake</div>
  </div>
</div>
<app-not-verified-info></app-not-verified-info>
<mat-form-field class="staking-textfield" appearance="outline">
  <mat-label class="ml-3 pl-1">Email</mat-label>
  <input
    matInput
    class="amount-input"
    data-qa-id="stake-amount"
    [formControl]="email"
    autocomplete="off"
    type="email"
    min="0"
    maxlength="256"
  />

  <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
  <mat-error *ngIf="email.hasError('email')">Minimum value is</mat-error>
  <mat-error *ngIf="email.hasError('disposableDomain')">Email domain restricted</mat-error>
</mat-form-field>
<h5 class="my-3">
  By clicking “SUBMIT”,&nbsp;&nbsp; you acknowledge this
  <a routerLink="/terms" target="_blank" class="highlight">disclaimer</a>
</h5>
<div class="mt-5 mb-4 d-flex justify-content-center align-items-center text-color">
  <button
    mat-raised-button
    class="stake-btn text-color text-uppercase"
    data-qa-id="stake"
    [disabled]="email.invalid"
    (click)="enrol()"
  >
    Submit
  </button>
</div>
