h4 {
  font-family: 'BW-Gradual-Medium';
  font-weight: 700 !important;
  font-size: 36px !important;
  color: var(--h2-color);
  background: var(--snapshot-title-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

h5 {
  color: #1a1a1a;
  font-family: 'BW-Gradual-Regular';
}

.warning-icon2 {
  position: relative;
  width: 140px;
  height: auto;
}

:host ::ng-deep {
  .staking-textfield {
    &.mat-form-field-appearance-outline .mat-form-field-outline {
      background: #ffffff !important;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.08);
      border-radius: 48px;
      color: transparent;
    }
  }

  .staking-textfield .mat-form-field-label-wrapper {
    left: -5px;
  }

  .staking-textfield .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.9em 0.3em !important;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label,
  .mat-form-field-appearance-outline.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-0.65em) scale(0.75) !important;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-outline-gap {
    border-top-color: initial;
  }

  .staking-textfield .mat-input-element {
    top: 1.3px !important;
    color: #1a1a1a;
    opacity: 0.8;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    right: 0.35em;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-focused
    .mat-form-field-outline-thick {
    color: #4b25c7;
  }

  .staking-textfield .mat-form-field-subscript-wrapper {
    top: calc(100% - 2.1em) !important;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.59em;
  }

  .staking-textfield.mat-form-field-appearance-outline
    .mat-form-field-outline-start {
    border-radius: 48px 0 0 48px;
    width: 50px !important;
  }

  .staking-textfield.mat-form-field-appearance-outline
    .mat-form-field-outline-end {
    border-radius: 0 48px 48px 0;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0.1em 0.6em !important;

    @media screen and (max-width: 800px) {
      padding: 0.35em 0.6em !important;
    }
  }
}

.staking-widget-sm-label {
  color: #000000;
  font-weight: 400;
  font-family: 'BW-Gradual-Regular';
  font-size: 18px;
}

.highlight {
  color: var(--link-color);
  font-weight: bold;
}

.staking-widget-xs-label {
  font-size: 16px;
  letter-spacing: 0.8;
}

.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: var(--stake-btn-bg) !important;
  color: var(--stake-btn-color) !important;
  box-shadow: 0px 4px 8px var(--stake-btn-shadow-color) !important;
  text-shadow: 0px 1px 1px var(--stake-text-shadow-color);
  border-radius: 34px;
  padding: 0 0 !important;
  height: 48px;
  width: 100%;
  opacity: 1;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background: var(--stake-btn-hover-bg);
  }
}
