h4 {
  color: #492CC7;
  font-family: 'BW-Gradual';
  font-weight: 700 !important;
  font-size: 36px !important;
}

h5 {
  color: #1A1A1A;
  opacity: 0.8;
  font-family: 'BW-Gradual';
}

.warning-icon2 {
  position: relative;
  width: 140px;
  height: auto;
}

:host ::ng-deep {
  .staking-textfield {
    &.mat-form-field-appearance-outline .mat-form-field-outline {
      background: #FFFFFF !important;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.08);
      border-radius: 48px;
      color: transparent;
    }
  }

  .staking-textfield .mat-form-field-label-wrapper {
    left: -5px;
  }

  .staking-textfield .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.9em 0.3em !important;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-0.65em) scale(0.75) !important;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: initial;
  }

  .staking-textfield .mat-input-element {
    top: 1.3px !important;
    color: #1A1A1A;
    opacity: 0.8;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
    right: .35em;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #4B25C7;
  }

  .staking-textfield .mat-form-field-subscript-wrapper {
    top: calc(100% - 2.1em) !important;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.59em;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 48px 0 0 48px;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 48px 48px 0;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0.1em 0.6em !important;

    @media screen and (max-width: 800px) {
      padding: 0.35em 0.6em !important;
    }
  }
}

.staking-widget-sm-label {
  color: #000000;
  font-weight: 600;
  font-family: 'BW-Gradual';
  font-size: 18px;
}


.highlight {
  color: #63BDFE;
}

.staking-widget-xs-label {
  font-size: 16px;
  letter-spacing: 0.8;
}

.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  border-radius: 16px;
  letter-spacing: 2px;
  background: linear-gradient(180deg, #C7F5FD 0%, #E6FDFF 32.23%, #C1D7FB 100%), radial-gradient(184.5% 68.24% at 169.12% 8.09%, #EDFFFF 32.52%, #DBEDFF 71.15%, #CBDFF4 91.96%);
  box-shadow: 0px 9px 6px rgba(32, 71, 169, 0.3);
  border-radius: 50px;
  color: #4B25C7 !important;
  padding: 0 0 !important;
  height: 48px;
  width: 172px;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background-color: #AFF6FC;
  }
}
