:host {
  display: block;
  width: 100%;
}

.staking-widget {
  position: relative;
  border-radius: 144px;
  background: var(--section-bg);
  box-shadow: 1px 1px 12px var(--section-shadow-color);
  backdrop-filter: blur(3.5px);
  background-clip: padding-box;
  padding: 100px;

  @media screen and (max-width: 800px) {
    padding: 20px;
  }
}

h2 {
  font-size: 46px !important;
  font-weight: 600 !important;

  @media screen and (max-width: 800px) {
    font-size: 38px !important;
    margin-top: 8px;
  }
}

h3 {
  font-family: Rajdhani, sans-serif;
  font-weight: 700 !important;
  letter-spacing: 0.25px !important;
  font-size: 64px !important;
  background: var(--h3-color);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  @media screen and (max-width: 800px) {
    font-size: 36px !important;
    margin-top: 8px;
    line-height: inherit;
  }
}

h4 {
  font-family: Rajdhani, sans-serif;
  font-size: 42px !important;
  color: var(--h4-color);
  font-weight: 700;

  span {
    font-size: 18px;
    font-weight: 500;

    @media screen and (max-width: 800px) {
      font-size: 14px !important;
    }
  }

  @media screen and (max-width: 800px) {
    font-size: 30px !important;
  }
}

h5 {
  font-family: Rajdhani, sans-serif;
  font-size: 21px !important;
  letter-spacing: 1.25px !important;
  font-weight: 700 !important;
  color: var(--h5-color);
}

h6 {
  font-family: 'Sequel-Sans' !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #4b25c7;
}

.text-color {
  font-family: 'Sequel-Sans';
  font-weight: bold;
  color: var(--text-details);
}

.circular-text {
  font-family: Rajdhani, sans-serif;
}

.staking-widget-xs-label {
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--label-color);
}

.limit-text {
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #a6a5ac;
}

::ng-deep mat-label {
  color: #a6a5ac !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
}

::ng-deep {
  .staking-textfield {
    &.mat-form-field-appearance-outline .mat-form-field-outline {
      background: #ffffff !important;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.08);
      border-radius: 48px;
      color: transparent;
    }
  }

  .staking-textfield .mat-form-field-label-wrapper {
    left: -5px;
  }

  .staking-textfield .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.9em 0.3em !important;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label,
  .mat-form-field-appearance-outline.mat-form-field-can-float
    .mat-input-server:focus
    + .mat-form-field-label-wrapper
    .mat-form-field-label {
    transform: translateY(-0.65em) scale(0.75) !important;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-outline-gap {
    border-top-color: initial;
  }

  .staking-textfield .mat-input-element {
    top: 1.3px !important;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    right: 0.35em;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-focused
    .mat-form-field-outline-thick {
    color: #4b25c7;
  }

  .staking-textfield .mat-form-field-subscript-wrapper {
    top: calc(100% - 2.1em) !important;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.59em;
  }

  .staking-textfield.mat-form-field-appearance-outline
    .mat-form-field-outline-start {
    border-radius: 48px 0 0 48px;
    width: 50px !important;
  }

  .staking-textfield.mat-form-field-appearance-outline
    .mat-form-field-outline-end {
    border-radius: 0 48px 48px 0;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0.1em 0.6em !important;

    @media screen and (max-width: 800px) {
      padding: 0.35em 0.6em !important;
    }
  }
}

.amount-input {
  color: #1a1a1a;
  font-family: 'Sequel Sans', sans-serif;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }
}

.slide-toggle {
  &.mat-slide-toggle.mat-checked ::ng-deep {
    .mat-slide-toggle-thumb {
      background-color: #ffffff;
    }

    .mat-slide-toggle-bar {
      background-color: #a566ff;
    }
  }

  ::ng-deep {
    .mat-slide-toggle-bar {
      background: #a6a5ac;
    }
  }
}

.payment-details {
  border-bottom: 1px solid rgba(72, 72, 72, 0.2);
}

.currently-staking {
  position: initial;
  @media screen and (max-width: 1024px) {
    position: absolute;
    right: 44px;
  }
}

.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: var(--stake-btn-bg) !important;
 color: var(--stake-btn-color) !important;
  box-shadow: 0px 4px 8px var(--stake-btn-shadow-color);
  text-shadow: 0px 1px 1px var(--stake-text-shadow-color);
  border-radius: 34px;
  padding: 0 0 !important;
  height: 48px;
  width: 180px;
  opacity: 1;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background-color: #4c2cdf;
  }
}

.unstake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  background: var(--stake-btn-bg) !important;
  color: var(--stake-btn-color) !important;
  box-shadow: 0px 4px 8px var(--stake-btn-shadow-color);
  text-shadow: 0px 1px 1px var(--stake-text-shadow-color);
  border-radius: 50px;
  padding: 0 0 !important;
  height: 48px;
  width: 172px;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background: var(--stake-btn-hover-bg);
  }
}

.color-grey {
  font-family: 'BW-Gradual-Regular';
  color: var(--info-color);
}

.color-red {
  color: #f44336;
}

.highlight {
  color: var(--link-color);
  font-weight: bold;
}

mat-progress-bar {
  border-radius: 5px;
}

.circular-inner {
  position: absolute;
  width: 155px;
  height: 155px;
  padding: 25px;
  background-image: url(../../../../assets/img/preloader/circle-inner-sm.png);
  background-size: 155px 155px;
  border-radius: 100%;
  margin: auto;
  top: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.circular-inner-3 {
  position: relative;
  width: 105px;
  height: 105px;
  padding: 25px;
  background-image: url(../../../../assets/img/preloader/circle-inner-sm.png);
  background-size: 105px 105px;
  border-radius: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -113px;
  right: 0;
  text-align: center;
  z-index: 1;
}
