:host {
  display: block;
  width: 100%;
}

.staking-widget {
  position: relative;
  border-radius: 144px;
  background: linear-gradient(349.41deg, rgba(220, 255, 255, 0.22) -17.31%, rgba(220, 255, 255, 0.26) 4.93%, rgba(255, 255, 255, 0.28) 129.23%);
  background-clip: padding-box;
  padding: 100px;
  
  @media screen and (max-width: 800px) {
    padding: 20px;
  }
}

h2 {
  font-size: 46px !important;
  font-weight: 600 !important;

  @media screen and (max-width: 800px) {
    font-size: 38px !important;
    margin-top: 8px;
  }
}

h3 {
  font-family: Rajdhani, sans-serif;
  font-weight: 700 !important;
  letter-spacing: 0.25px !important;
  font-size: 64px !important;
  color: #4B25C7;

  .staking-currency {
    font-size: 16px !important;
    color: #4B25C7;
  }
}

h4 {
  font-family: Rajdhani, sans-serif;
  font-size: 42px;
  color: #4B25C7;
  font-weight: 700;
  
  span {
    font-size: 24px;
    font-weight: 400;
  }
}

h5 {
  font-family: Rajdhani, sans-serif;
  font-size: 21px !important;
  letter-spacing: 1.25px !important;
  font-weight: 700 !important;
  color: #4B25C7;
}

h6 {
  font-family: 'Sequel-Sans' !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #4B25C7;
}

.text-color {
  font-family: 'Sequel-Sans';
  font-weight: bold;
  color: #4B25C7;
}

.staking-widget-xs-label {
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2E2E2E;
}

.limit-text {
  font-size: 16px;
  letter-spacing: 0.8px;
  color: #A6A5AC;
}

::ng-deep mat-label {
  color: #A6A5AC !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
}

::ng-deep {
  .staking-textfield {
    &.mat-form-field-appearance-outline .mat-form-field-outline {
      background: #FFFFFF !important;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.08);
      border-radius: 48px;
      color: transparent;
    }
  }

  .staking-textfield .mat-form-field-label-wrapper {
    left: -5px;
  }

  .staking-textfield .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.9em 0.3em !important;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-0.65em) scale(0.75) !important;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
    border-top-color: initial;
  }

  .staking-textfield .mat-input-element {
    top: 1.3px !important;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
    right: .35em;
  }

  .staking-textfield.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #4B25C7;
  }

  .staking-textfield .mat-form-field-subscript-wrapper {
    top: calc(100% - 2.1em) !important;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.59em;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 48px 0 0 48px;
    width: 50px !important;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 48px 48px 0;
  }

  .staking-textfield.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0.1em 0.6em !important;

    @media screen and (max-width: 800px) {
      padding: 0.35em 0.6em !important;
    }
  }
}


.amount-input {
  color: #1A1A1A;
  font-family: "Sequel Sans", sans-serif;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &[type=number] {
    -moz-appearance: textfield; /* Firefox */
  }
}

.slide-toggle {

  &.mat-slide-toggle.mat-checked ::ng-deep {
    .mat-slide-toggle-thumb {
      background-color: #FFFFFF;
    }

    .mat-slide-toggle-bar {
      background-color: #A566FF;
    }

  }

  ::ng-deep {
    .mat-slide-toggle-bar {
      background: #A6A5AC;
    }
  }
}

.payment-details {
  border-bottom: 1px solid #B3C6D2;
}

.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: linear-gradient(82.68deg, #4C26C7 -5.81%, #6DE9E9 98.14%, #BFFFFF 121.71%);
  color: #FFFFFF !important;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
  border-radius: 34px;
  padding: 0 0 !important;
  height: 48px;
  width: 180px;
  opacity: 1;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background-color: #4C2CDF;
  }
}

.unstake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  border-radius: 16px;
  letter-spacing: 2px;
  background: linear-gradient(180deg, #C7F5FD 0%, #E6FDFF 32.23%, #C1D7FB 100%), radial-gradient(184.5% 68.24% at 169.12% 8.09%, #EDFFFF 32.52%, #DBEDFF 71.15%, #CBDFF4 91.96%);
  box-shadow: 0px 9px 6px rgba(32, 71, 169, 0.3);
  border-radius: 50px;
  color: #4B25C7 !important;
  padding: 0 0 !important;
  height: 48px;
  width: 172px;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background-color: #AFF6FC;
  }
}

.color-grey {
  font-family: "BW-Gradual-Regular";
  color: #474747;
}

.color-red {
  color: #f44336;
}

.highlight {
  color: #63BDFE;
}

mat-progress-bar {
  border-radius: 5px;
}
