:host {
  display: block;
  position: relative;
  background: linear-gradient(
    353.64deg,
    rgba(65, 15, 227, 0) -63.58%,
    rgba(114, 108, 238, 0.08) 3.96%,
    rgba(165, 206, 249, 0.34001) 39.82%,
    rgba(191, 255, 255, 0.47) 96.52%
  );
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px);
  border-radius: 144px;
  padding: 10px;
}
