<div class="mb-3">
  <div class="d-flex flex-column align-items-center mt-2">
    <img src="../../../../assets/img/warning-icon2.png" class="warning-icon2" />
    <h4 class="mb-2 text-center">Confirm your email</h4>
  </div>
</div>
<div class="staking-widget-xs-label text-center my-4 px-2 pb-3">
  You have 24 hours to click the confirmation link in your inbox. Return to this page after you confirm your email. If
  you accidentally entered the wrong email or ran out of time, click “Cancel” and try again.
</div>
<div class="mt-2 mb-3 d-flex justify-content-center align-items-center text-color">
  <button mat-raised-button class="stake-btn text-color text-uppercase" data-qa-id="stake" (click)="cancelRequest()">
    Cancel
  </button>
</div>
<app-not-verified-info></app-not-verified-info>
