/* You can add global styles to this file, and also import other style files */

//== Fonts
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

//== Vendor
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';

@import '~simple-line-icons/css/simple-line-icons.css';

@import '~loaders.css/loaders.css';

@import '~ngx-toastr/toastr';

//== Bootstrap
@import './app/shared/styles/bootstrap.scss';
//== Application
@import './app/shared/styles/app.scss';

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html {
  scroll-behavior: smooth;
}

:root {
  --warning-color: #ffa500;
}

// silver
:root {
  --loader-color: #7d8da8;

  --container-bg: linear-gradient(180deg, #7a7b7f 0%, #7a7c80 100%);
  --h1-color: #8290a9;
  --h2-color: #bac7e2;
  --h2-sub-color: linear-gradient(
    269.82deg,
    #bac7e2 21.61%,
    #ffffff 53.8%,
    #d6e3ff 102.92%
  );
  --h3-color: radial-gradient(50% 50% at 50% 50%, #adb6c8 0%, #808ea7 100%);
  --h4-color: #7d8da8;
  --h5-color: #7d8da8;
  --h5-color-small: #f8f8f8;
  --p-color: #dedede;
  --learn-more-btn-bg: linear-gradient(
    186.67deg,
    #ffffff -30.38%,
    #f9f9f9 29.98%,
    #f5f5f5 89.26%
  );
  --learn-more-shadow: #6c6e72;
  --learn-more-color: #445578;
  --snapshot-title-color: radial-gradient(
    50% 50% at 50% 50%,
    #adb6c8 0%,
    #808ea7 100%
  );
  --widget-text-color: #4d4d4d;
  --section-bg: linear-gradient(
    343.36deg,
    rgba(255, 255, 255, 0.8) 13.5%,
    rgba(242, 246, 255, 0.6) 52.26%,
    rgba(255, 255, 255, 0.8) 96.19%
  );
  --section-shadow-color: rgba(0, 0, 0, 0.1);

  --stake-btn-bg: linear-gradient(
    90deg,
    #cdd9e7 0%,
    #f1f8ff 69.27%,
    #e4eaf2 100%
  );
  --stake-btn-shadow-color: rgba(0, 0, 0, 0.08);
  --stake-btn-color: #445578;
  --stake-text-shadow-color: rgba(0, 0, 0, 0.11);
  --stake-btn-hover-bg: linear-gradient(
    87.32deg,
    #e8f0f9 3.04%,
    #d2ddeb 60.58%,
    #ecf2fa 89.74%
  );

  --label-color: #4d4d4d;
  --info-color: #4d4d4d;
  --text-details: #5770a3;

  --divider-color: #484848;

  --li-dot-color: #8594ae;
  --li-color: #4c4c4c;

  --terms-color-1: #8493ad;
  --terms-color-2: #b1bdd1;

  --logo-radial-color-1: #c8d3e4;
  --logo-radial-color-2: #b3bbcc;
  --logo-radial-color-3: #8592aa;
  --logo-radial-color-4: #7f8ea7;

  --logo-linear-color-1: #e0e6f2;
  --logo-linear-color-2: #ffffff;

  --circle-inner-url: url('assets/img/preloader/circle-inner-silver.png');
  --circle-inner-sm-url: url('assets/img/preloader/circle-inner-silver-sm.png');

  --circle-title-color: #4c4c4c;
  --circle-percent-color: linear-gradient(
    0deg,
    #d3dbed 6.17%,
    #ffffff 38.87%,
    #d3dbed 99.88%
  );
  --circle-default-color: #666666;
  --circle-inner-circle-bg: radial-gradient(
    351.92% 130.17% at 336.54% -20.19%,
    #c7cad7 66.62%,
    #c0c1c5 73.04%,
    #949496 91.96%
  );

  --icon-stroke: #c3d7ff;
  --footer-text: #fafcff;

  --link-color: #5770a3;

  --terms-title-color: #8290a9;
  --congratulations-url: 'assets/img/staking/congratulations-silver.png';
  --dialog-bg: linear-gradient(180deg, #FFFFFF 0%, #D6DEEE 100%);
  --dialog-shadow: 0px 16px 40px #8795AC;
  --dialog-title: #5770A3;
  --dialog-text-color: #4D4D4D;

  --secondary-btn-color: #445578;
  --secondary-btn-bg: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(184.5% 68.24% at 169.12% 8.09%, #EDFFFF 32.52%, #DBEDFF 71.15%, #CBDFF4 91.96%);
  --secondary-btn-bg-hover: linear-gradient(0deg, #F7F7F7, #F7F7F7), radial-gradient(184.5% 68.24% at 169.12% 8.09%, #EDFFFF 32.52%, #DBEDFF 71.15%, #CBDFF4 91.96%);
  --secondary-btn-shadow: rgba(0, 0, 0, 0.16);


}

// green
:root {
  --loader-color: #0f5156;

  --container-bg: #0f5156;
  --h1-color: #084d51;
  --h2-color: #feefd0;
  --h2-sub-color: radial-gradient(50% 50% at 50% 50%, #34bc85 0%, #279775 100%);
  --h3-color: #074b50;
  --h4-color: #0b5055;
  --h5-color: #0d4f55;
  --h5-color-small: #e0dcc1;
  --p-color: #feefd0;
  --learn-more-btn-bg: transparent;
  --learn-more-shadow: #6c6e72;
  --learn-more-color: #fdb53b;
  --learn-more-border: '';
  --snapshot-title-color: #074b50;
  --widget-text-color: #084d52;
  --section-bg: linear-gradient(
    343.36deg,
    rgba(255, 255, 255, 0.8) 13.5%,
    rgba(255, 255, 255, 0.8) 96.19%
  );
  --section-shadow-color: rgba(55, 42, 2, 0.15);

  --stake-btn-bg: #34bc85;
  --stake-btn-shadow-color: rgba(0, 0, 0, 0.08);
  --stake-btn-color: #feefd0;
  --stake-text-shadow-color: rgba(0, 0, 0, 0.11);
  --stake-btn-hover-bg: #3dce93;

  --label-color: #084d52;
  --info-color: #0b4f54;
  --text-details: #0e4f55;

  --divider-color: #084d51;
  --li-dot-color: #084c52;
  --li-color: #0b4f54;

  --terms-color-1: #084c52;
  --terms-color-2: #258c94;

  --logo-radial-color-1: #077177;
  --logo-radial-color-2: #0f6267;
  --logo-radial-color-3: #084d51;
  --logo-radial-color-4: #002426;

  --logo-linear-color-1: #feefd0;
  --logo-linear-color-2: #feefd0;

  --circle-inner-url: url('assets/img/preloader/circle-inner-green.png');
  --circle-inner-sm-url: url('assets/img/preloader/circle-inner-green-sm.png');

  --circle-title-color: #feefd0;
  --circle-percent-color: #feefd0;
  --circle-default-color: #0b4f54;
  --circle-inner-circle-bg: radial-gradient(
    351.92% 130.17% at 336.54% -20.19%,
    #0d7a81 66.62%,
    #19666d 73.04%,
    #0e5056 91.96%
  );

  --icon-stroke: #fdb53b;
  --footer-text: #feefd0;

  --link-color: #34bc85;

  --terms-title-color: #074b50;
  --congratulations-url: 'assets/img/staking/congratulations-green.png';

  --dialog-bg: linear-gradient(359.43deg, #C2D2D3 0.16%, #FFFFFF 99.19%);
  --dialog-shadow: none;
  --dialog-title: #074B50;
  --dialog-text-color: #0B4F54;

  --secondary-btn-color: #105157;
  --secondary-btn-bg: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(184.5% 68.24% at 169.12% 8.09%, #EDFFFF 32.52%, #DBEDFF 71.15%, #CBDFF4 91.96%);
  --secondary-btn-bg-hover: linear-gradient(0deg, #FEEFD0, #FEEFD0), radial-gradient(184.5% 68.24% at 169.12% 8.09%, #EDFFFF 32.52%, #DBEDFF 71.15%, #CBDFF4 91.96%);
  --secondary-btn-shadow: rgba(0, 0, 0, 0.16);
  .learn-more {
    border: 1px solid #fdb53b;
  }
}

// gold
:root {
  --loader-color: #c9a42e;
  --container-bg: linear-gradient(360deg, #242424 39.06%, #4c4a46 100%);
  --h1-color: #8290a9;
  --h2-color: #c9a42e;
  --h2-sub-color: radial-gradient(50% 50% at 50% 50%, #f2e3b6 0%, #c9a42e 100%);
  --h3-color: #c9a42e;
  --h4-color: #866c1a;
  --h5-color: #866c1a;
  --h5-color-small: #cca836;
  --p-color: #ffffff;
  --learn-more-btn-bg: linear-gradient(
    186.67deg,
    #ffffff -30.38%,
    #f9f9f9 29.98%,
    #f5f5f5 89.26%
  );
  --learn-more-shadow: #6c6e72;
  --learn-more-color: #372a02;

  --snapshot-title-color: #c9a42e;
  --widget-text-color: #084d52;
  --section-bg: linear-gradient(
    343.36deg,
    rgba(255, 252, 243, 0.75) 13.5%,
    rgba(255, 255, 255, 0.75) 96.19%,
    rgba(255, 255, 255, 0.75) 96.19%
  );
  --section-shadow-color: rgba(55, 42, 2, 0.15);

  --stake-btn-bg: linear-gradient(
    89.9deg,
    #c8a32d 1.5%,
    #f7e09b 69.67%,
    #e1c469 99.91%
  );
  --stake-btn-shadow-color: rgba(0, 0, 0, 0.08);
  --stake-btn-color: #372a02;
  --stake-text-shadow-color: rgba(0, 0, 0, 0.11);
  --stake-btn-hover-bg: linear-gradient(
    93.79deg,
    #f7e09b 6.75%,
    #c8a32d 97.38%
  );

  --label-color: #372a02;
  --info-color: #372a02;
  --text-details: #826c2d;

  --divider-color: #614a04;

  --li-dot-color: #a07d0d;
  --li-color: #372a02;

  --terms-color-1: #9e7b0b;
  --terms-color-2: #c9a531;

  --logo-radial-color-1: #fff8e4;
  --logo-radial-color-2: #e6d08c;
  --logo-radial-color-3: #c99f18;
  --logo-radial-color-4: #bb9316;

  --logo-linear-color-1: #6d5509;
  --logo-linear-color-2: #a98c32;

  --circle-inner-url: url('assets/img/preloader/circle-inner-gold.png');
  --circle-inner-sm-url: url('assets/img/preloader/circle-inner-gold-sm.png');

  --circle-title-color: #c9a42e;
  --circle-percent-color: linear-gradient(
    180deg,
    #c9a42e 0%,
    #fef1c8 58.85%,
    #dcc47d 100%
  );
  --circle-default-color: #866c1a;
  --circle-inner-circle-bg: radial-gradient(
    351.92% 130.17% at 336.54% -20.19%,
    #615e5a 66.62%,
    #5b584d 73.04%,
    #43413d 91.96%
  );

  --icon-stroke: #cda938;
  --footer-text: #cca836;

  --link-color: #372a02;

  --terms-title-color: #c9a42e;
  --congratulations-url: 'assets/img/staking/congratulations-gold.png';

  --dialog-bg: linear-gradient(180deg, #FFFFFF 0%, #C8C8C7 100%);
  --dialog-shadow: none;
  --dialog-title: #C9A42E;
  --dialog-text-color: #372A02;

  --secondary-btn-color: #372A02;
  --secondary-btn-bg: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(184.5% 68.24% at 169.12% 8.09%, #EDFFFF 32.52%, #DBEDFF 71.15%, #CBDFF4 91.96%);
  --secondary-btn-bg-hover: linear-gradient(0deg, #FFF9E7, #FFF9E7), radial-gradient(184.5% 68.24% at 169.12% 8.09%, #EDFFFF 32.52%, #DBEDFF 71.15%, #CBDFF4 91.96%);
  --secondary-btn-shadow: rgba(0, 0, 0, 0.16);

  --input-label-color: #372A02;
  --input-placeholder-color: rgba(55, 42, 2, 0.4);
  --input-color: #372A02;
  --input-bg: #E2DECE;
  --input-bg-disabled: '';
  --error-color: #FF5C63;
}
