/* You can add global styles to this file, and also import other style files */

//== Fonts
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

//== Vendor
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';

@import '~simple-line-icons/css/simple-line-icons.css';

@import '~loaders.css/loaders.css';

@import '~ngx-toastr/toastr';

//== Bootstrap
@import './app/shared/styles/bootstrap.scss';
//== Application
@import './app/shared/styles/app.scss';

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html {
  scroll-behavior: smooth;
}

:root {
  --warning-color: #ffa500;
}

// gold
:root {
  --gradient-bg: url('assets/img/staking/gold/staking-gradient-background-gold-min.png');
  --preloader-empty-bg: url('/assets/img/preloader/gold/preloader-gold-empty.png');
  --preloader-full-bg: url('/assets/img/preloader/gold/preloader-gold-full.png');
  --bg-atoms: '/assets/img/staking/gold/bg-atoms.png';
  --preloader-bg-color: #4c4a46;

  --metamask-btn-bg: linear-gradient(89.9deg, #C8A32D 1.5%, #F7E09B 69.67%, #E1C469 99.91%);
  --metamask-btn-color: #445578;
  --metamask-btn-disabled-bg: rgba(200, 163, 45, 0.2);
  --metamask-btn-color-disabled: rgba(68, 85, 120, 0.3);;

  --loader-color: #c9a42e;
  --container-bg: #4c4a46;
  --h1-color: #8290a9;
  --h2-color: #c9a42e;
  --h2-sub-color: radial-gradient(50% 50% at 50% 50%, #f2e3b6 0%, #c9a42e 100%);
  --h3-color: #c9a42e;
  --h4-color: #866c1a;
  --h5-color: #866c1a;
  --h5-color-small: #cca836;
  --p-color: #ffffff;
  --learn-more-btn-bg: linear-gradient(
    186.67deg,
    #ffffff -30.38%,
    #f9f9f9 29.98%,
    #f5f5f5 89.26%
  );
  --learn-more-shadow: #6c6e72;
  --learn-more-color: #372a02;

  --snapshot-title-color: #c9a42e;
  --widget-text-color: #084d52;
  --section-bg: linear-gradient(
    343.36deg,
    rgba(255, 252, 243, 0.75) 13.5%,
    rgba(255, 255, 255, 0.75) 96.19%,
    rgba(255, 255, 255, 0.75) 96.19%
  );
  --section-shadow-color: rgba(55, 42, 2, 0.15);

  --stake-btn-bg: linear-gradient(
    89.9deg,
    #c8a32d 1.5%,
    #f7e09b 69.67%,
    #e1c469 99.91%
  );
  --stake-btn-shadow-color: rgba(0, 0, 0, 0.08);
  --stake-btn-color: #372a02;
  --stake-text-shadow-color: rgba(0, 0, 0, 0.11);
  --stake-btn-hover-bg: linear-gradient(
    93.79deg,
    #f7e09b 6.75%,
    #c8a32d 97.38%
  );

  --label-color: #372a02;
  --info-color: #372a02;
  --text-details: #826c2d;

  --divider-color: #614a04;

  --li-dot-color: #a07d0d;
  --li-color: #372a02;

  --terms-color-1: #9e7b0b;
  --terms-color-2: #c9a531;

  --logo-radial-color-1: #fff8e4;
  --logo-radial-color-2: #e6d08c;
  --logo-radial-color-3: #c99f18;
  --logo-radial-color-4: #bb9316;

  --logo-linear-color-1: #6d5509;
  --logo-linear-color-2: #a98c32;

  --circle-inner-url: url('assets/img/preloader/circle-inner-gold.png');
  --circle-inner-sm-url: url('assets/img/preloader/circle-inner-gold-sm.png');

  --circle-title-color: #c9a42e;
  --circle-percent-color: linear-gradient(
    180deg,
    #c9a42e 0%,
    #fef1c8 58.85%,
    #dcc47d 100%
  );
  --circle-default-color: #866c1a;
  --circle-inner-circle-bg: radial-gradient(
    351.92% 130.17% at 336.54% -20.19%,
    #615e5a 66.62%,
    #5b584d 73.04%,
    #43413d 91.96%
  );

  --circle-progress-color-1: #866C1B;
  --circle-progress-offset-1: 6.77%;
  --circle-progress-color-2: #C9A42E;
  --circle-progress-offset-2: 35.33%;
  --circle-progress-color-3: #E6D08D;
  --circle-progress-offset-3: 94.25%;

  --icon-stroke: #cda938;
  --footer-text: #cca836;

  --link-color: #372a02;

  --terms-title-color: #c9a42e;
  --congratulations-url: 'assets/img/staking/congratulations-gold.png';

  --dialog-bg: linear-gradient(180deg, #ffffff 0%, #c8c8c7 100%);
  --dialog-shadow: none;
  --dialog-title: #c9a42e;
  --dialog-text-color: #372a02;

  --secondary-btn-color: #372a02;
  --secondary-btn-bg: linear-gradient(0deg, #ffffff, #ffffff),
    radial-gradient(
      184.5% 68.24% at 169.12% 8.09%,
      #edffff 32.52%,
      #dbedff 71.15%,
      #cbdff4 91.96%
    );
  --secondary-btn-bg-hover: linear-gradient(0deg, #fff9e7, #fff9e7),
    radial-gradient(
      184.5% 68.24% at 169.12% 8.09%,
      #edffff 32.52%,
      #dbedff 71.15%,
      #cbdff4 91.96%
    );
  --secondary-btn-shadow: rgba(0, 0, 0, 0.16);

  --input-label-color: #372a02;
  --input-placeholder-color: rgba(55, 42, 2, 0.4);
  --input-color: #372a02;
  --input-bg: #e2dece;
  --input-bg-focus: #ffffff;
  --input-bg-disabled: linear-gradient(0deg, #e2dece, #e2dece), #ffffff;
  --input-color-disabled:rgba(55, 42, 2, 0.6);
  --input-border-focus: #372a02;
  --error-color: #ff5c63;

  --did-bg: #E2DECE;
  --did-color: #866C1A;
  --did-icon: #826C2D;

  --cancel-icon: #fedc71;
}

.mat-error {
  color: var(--error-color);
}
