/* You can add global styles to this file, and also import other style files */

//== Fonts
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

//== Vendor
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';

@import '~simple-line-icons/css/simple-line-icons.css';

@import '~loaders.css/loaders.css';

@import '~ngx-toastr/toastr';

//== Bootstrap
@import './app/shared/styles/bootstrap.scss';
//== Application
@import './app/shared/styles/app.scss';

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html {
  scroll-behavior: smooth;
}

:root {
  --warning-color: #ffa500;
}

// green
:root {
  --gradient-bg: url('assets/img/staking/green/staking-gradient-background-green-min.png');
  --preloader-empty-bg: url('/assets/img/preloader/green/preloader-green-empty.png');
  --preloader-full-bg: url('/assets/img/preloader/green/preloader-green-full.png');
  --bg-atoms: '/assets/img/staking/green/bg-atoms.png';
  --preloader-bg-color: #279775;
  --loader-color: #34BC85;

  --metamask-btn-bg: #34BC85;
  --metamask-btn-color: #FEEFD0;
  --metamask-btn-disabled-bg: rgba(16, 81, 87, 0.2);
  --metamask-btn-color-disabled: rgba(68, 85, 120, 0.3);
  --metamask-dialog-bg: linear-gradient(343.36deg, rgba(216, 224, 239, 0.8) 13.5%, rgba(253, 254, 255, 0.8) 47.53%);
  --metamask-dialog-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);

  --container-bg: #0f5156;
  --h1-color: #084d51;
  --h2-color: #feefd0;
  --h2-sub-color: radial-gradient(50% 50% at 50% 50%, #34bc85 0%, #279775 100%);
  --h3-color: #074b50;
  --h4-color: #0b5055;
  --h5-color: #0d4f55;
  --h5-color-small: #e0dcc1;
  --p-color: #feefd0;
  --learn-more-btn-bg: transparent;
  --learn-more-shadow: #6c6e72;
  --learn-more-color: #fdb53b;
  --learn-more-border: '';
  --snapshot-title-color: #074b50;
  --widget-text-color: #084d52;
  --section-bg: linear-gradient(
    343.36deg,
    rgba(255, 255, 255, 0.8) 13.5%,
    rgba(255, 255, 255, 0.8) 96.19%
  );
  --section-shadow-color: rgba(55, 42, 2, 0.15);

  --stake-btn-bg: #34bc85;
  --stake-btn-shadow-color: rgba(0, 0, 0, 0.08);
  --stake-btn-color: #feefd0;
  --stake-text-shadow-color: rgba(0, 0, 0, 0.11);
  --stake-btn-hover-bg: #3dce93;

  --label-color: #084d52;
  --info-color: #0b4f54;
  --text-details: #0e4f55;

  --divider-color: #084d51;
  --li-dot-color: #084c52;
  --li-color: #0b4f54;

  --terms-color-1: #084c52;
  --terms-color-2: #258c94;

  --logo-radial-color-1: #077177;
  --logo-radial-color-2: #0f6267;
  --logo-radial-color-3: #084d51;
  --logo-radial-color-4: #002426;

  --logo-linear-color-1: #feefd0;
  --logo-linear-color-2: #feefd0;

  --circle-inner-url: url('assets/img/preloader/circle-inner-green.png');
  --circle-inner-sm-url: url('assets/img/preloader/circle-inner-green-sm.png');

  --circle-title-color: #feefd0;
  --circle-percent-color: #feefd0;
  --circle-default-color: #0b4f54;
  --circle-inner-circle-bg: radial-gradient(
    351.92% 130.17% at 336.54% -20.19%,
    #0d7a81 66.62%,
    #19666d 73.04%,
    #0e5056 91.96%
  );
  --circle-progress-color-1: #2B8C64;
  --circle-progress-offset-1: 7.38%;
  --circle-progress-color-2: #33AE7D;
  --circle-progress-offset-2: 61.61%;
  --circle-progress-color-3: #44CD96;
  --circle-progress-offset-3: 99.53%;

  --icon-stroke: #fdb53b;
  --footer-text: #feefd0;

  --link-color: #34bc85;

  --terms-title-color: #074b50;
  --congratulations-url: 'assets/img/staking/congratulations-green.png';

  --dialog-bg: linear-gradient(359.43deg, #c2d2d3 0.16%, #ffffff 99.19%);
  --dialog-shadow: none;
  --dialog-title: #074b50;
  --dialog-text-color: #0b4f54;

  --secondary-btn-color: #105157;
  --secondary-btn-bg: linear-gradient(0deg, #ffffff, #ffffff),
    radial-gradient(
      184.5% 68.24% at 169.12% 8.09%,
      #edffff 32.52%,
      #dbedff 71.15%,
      #cbdff4 91.96%
    );
  --secondary-btn-bg-hover: linear-gradient(0deg, #feefd0, #feefd0),
    radial-gradient(
      184.5% 68.24% at 169.12% 8.09%,
      #edffff 32.52%,
      #dbedff 71.15%,
      #cbdff4 91.96%
    );
  --secondary-btn-shadow: rgba(0, 0, 0, 0.16);

  --input-label-color: #0A4D52;
  --input-placeholder-color: rgba(11, 79, 84, 0.4);
  --input-color: #074B50;
  --input-bg: rgba(9, 75, 80, 0.11);
  --input-bg-focus: #FFFFFF;
  --input-bg-disabled: linear-gradient(0deg, #E4EBEC, #E4EBEC), #FFFFFF;
  --input-color-disabled: rgba(7, 75, 80, 0.6);
  --input-border-focus: #0A4D52;
  --error-color: #FF5C63;

  --cancel-icon: #0a4d52;

  --did-bg: rgba(9, 75, 80, 0.11);;
  --did-color: rgba(11, 79, 84, 0.6);
  --did-icon: #0A4D52;
  .learn-more {
    border: 1px solid #fdb53b;
  }
}

.mat-error {
  color: var(--error-color);
}
