<div class="mb-3">
  <div class="d-flex flex-row align-items-center ml-0 ml-md-2 mt-2">
    <img src="../../../../assets/img/staking/warning-icon.png" width="42" height="42">
    <div class="staking-widget-sm-label text-color ml-0 ml-md-2">Your email has been approved</div>
  </div>
  <div class="staking-widget-xs-label mt-2 ml-2">
    Click “Add Role” and sign a transaction to add the verified email role to your wallet address on Energy Web Blockchain.
    <br><br>
    Your email address will always remain private and will NOT be publicly disclosed or linked to your wallet address.
  </div>
</div>

<div class="mt-2 d-flex justify-content-end align-items-center text-color">
  <button mat-raised-button class="stake-btn text-color text-uppercase" data-qa-id="stake"
          (click)="addRole()">
    Add Role
  </button>
</div>
