.staking-widget-sm-label {
  color: #000000;
  font-weight: 400;
  font-family: 'BW-Gradual-Regular';
  font-size: 18px;
}

.staking-widget-xs-label {
  color: var(--label-color);
  font-weight: 400;
  font-family: 'BW-Gradual-Regular';
}

h4 {
  color: var(--h2-color);
  background: var(--snapshot-title-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'BW-Gradual-Medium';
  font-weight: 700 !important;
  font-size: 36px !important;
}

.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: var(--stake-btn-bg) !important;
 color: var(--stake-btn-color) !important;
  box-shadow: 0px 4px 8px var(--stake-btn-shadow-color);
  text-shadow: 0px 1px 1px var(--stake-text-shadow-color);
  border-radius: 34px;
  padding: 0 0 !important;
  height: 48px;
  width: 180px;
  opacity: 1;

  &.mat-raised-button[disabled] {
    opacity: 0.5;
  }

  &:hover {
    background-color: #4c2cdf;
  }
}
