<div class="mb-3">
  <div class="d-flex flex-row align-items-center ml-0 ml-md-2 mt-2">
    <img src="../../../../assets/img/staking/check-circle.png" width="42" height="42" class="ml-2">
    <div class="staking-widget-sm-label text-color ml-0 ml-md-2">Your email has been approved</div>
  </div>
  <div class="staking-widget-xs-label mt-2 ml-2">
    To complete your staking authorization, you must add an on-chain role to your EW Chain staking wallet. Please, do this by clicking “ADD ROLE” below and signing an EW Chain transaction.
    <br><br>
    <i>We respect your privacy, adding this role does not expose your email on-chain.</i>
  </div>
</div>

<div class="mt-2 d-flex justify-content-end align-items-center text-color">
  <button mat-raised-button class="stake-btn text-color text-uppercase" data-qa-id="stake"
          (click)="addRole()">
    Add Role
  </button>
</div>
